@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);
  --color-subtle: var(--subtle);
  --color-border: var(--border);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --secondary: oklch(0.97 0 0);
  --surface: oklch(0.922 0 0);
  --subtle: oklch(0.556 0 0);
  --success: oklch(0.65 0.2 140);
  --warning: oklch(0.85 0.2 80);
  --error: oklch(0.577 0.245 27.325);
}

[data-theme="dark"] {
  :root {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --primary: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --surface: oklch(1 0 0 / 10%);
    --subtle: oklch(0.985 0 0);
    --success: oklch(0.7 0.15 140);
    --warning: oklch(0.8 0.18 80);
    --error: oklch(0.6 0.2 20);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
